/*-----------------
 navigation style 
 -----------------*/
body{
    background-color: rgb(236, 227, 236);
    color: rgb(20, 18, 22);
    margin: 20px 200px;
    font-family: 'Poppins', sans-serif;
}
main{
    background-color: white;
    padding: 80px;
}
h1{
    color: rgb(66, 18, 143);
    font-weight: 900;
}

.navigation{
    display: flex;
    justify-content: space-between;
}
.space{
    padding: 20px;
}
.font{
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
i{
    color: darkslateblue;
    padding-left: 5px;
}

/*----------------------
 navigation style end 
 ----------------------*/

/*---------------------------
 piture of camera part start 
 ---------------------------*/
h2{
    font-size: 25px;
    font-weight: 900;
}
.intro{
    display: flex;
    justify-content: space-evenly;
}
.pre-book,.fa-arrow-circle-right{
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(66, 18, 143);
    padding: 10px;
    border-radius: 5px;
}
.text{
    padding-top: 120px;
}
.dslr{

    width: 350px;
    height: 300px;
    padding-left: 100px;
    padding-top: 100px;
}
/*--------------------------------
 piture of camera part style end 
 --------------------------------*/

 /*----------------- 
 website logo style 
 -----------------*/

 /* ---------
 shop start
 ------------ */
.pop{
    padding-left: 400px;
    padding-top: 100px;
    padding-bottom: 30px;
 }
 nav{
     display: grid;
     grid-template-columns: repeat(3,1fr);
 }
.shop{
    width: 300px;
    height: 300px;
}
.tripod{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.dollar{
    font-size: 20px;
    font-weight: 400;
}
.fa-star.filled{
    color: chocolate;
}
.fa-star.empty{
    color: rgb(226, 180, 164);
}
small{
    font-size: 18px;
}
/*------ 
shop end  
--------*/



/*------- 
see more 
-------- */
.see-more{
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(66, 18, 143);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    margin-left: 800px;
}
.arrow{
    padding-top: 50px;
}
/*-------------- 
see more end 
---------------- */

/*-----------------
 feature part style 
---------------- */
.feature{
    display: flex;
    padding-top: 120px;
}
.feature img{
    padding-right: 40px;
}
.feature a{
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(66, 18, 143);
    padding: 10px;
    border-radius: 5px;
}
/*-------------------
 feature part end 
------------------- */

/* -------------
footer style start 
--------------- */
footer{
    background-color:rgb(66, 18, 143) ;
    color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
}
h4{
    padding-left: 500px;
}
footer p i{
    color: whitesmoke;
}
footer div i{
    padding: 5px;
    color: whitesmoke;
}
.copy{
    padding-left: 430px;
}
.right{
    padding-left: 500px;
}
footer div{
    padding-left: 500px;
}
/*---------------
 footer style end
 -----------------  */