/*-----------------
 navigation style 
 -----------------*/
body{
    background-color: rgb(236, 227, 236);
    color: rgb(20, 18, 22);
    margin: 20px 200px;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: rgb(66, 18, 143);
    font-weight: 900;
}

.navigation{
    display: flex;
    justify-content: space-between;
}
.space{
    padding: 20px;
}
.font{
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
i{
    color: darkslateblue;
    padding-left: 5px;
}

/*----------------------
 navigation style end 
 ----------------------*/

/*---------------------------
 piture of camera part start 
 ---------------------------*/
h2{
    font-size: 25px;
    font-weight: 900;
}
.intro{
    display: flex;
    justify-content: space-evenly;
}
.pre-book,.fa-arrow-circle-right{
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(66, 18, 143);
    padding: 10px;
    border-radius: 5px;
}
.text{
    padding-top: 120px;
}
.dslr{

    width: 350px;
    height: 300px;
    padding-left: 100px;
    padding-top: 100px;
}
/*--------------------------------
 piture of camera part style end 
 --------------------------------*/